<a href="https://colab.research.google.com/github/Shovanjeet/Shovan_67-AIML/blob/main/Shovanjeet_set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Steps used in individual PYTHON programming:
1.	Using Keyboard Input for input n.
2.	Using looping structures (for , while looping structure (DO THE SEPARATE LOOPING STRUCTURE))
QUESTION: Write the PYHON programming to input n and print the following programs:
i. 1,2,3,4,.....,n

In [ ]:
n=int(input("Enter the number: "))
for i in range(n):
  print(i+1,end=', ')

Enter the number: 30
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   print(i, end=', ')
   i=i+1

Enter a number: 10
1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

ii. 1,3,5,7,.....,n

In [ ]:
n=int(input("Enter the value: "))
for i in range(1,n,2):
  print(i,end=', ')

Enter the value: 15
1, 3, 5, 7, 9, 11, 13,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   if i%2==0:
     print(i, end=', ')
   i=i+1

Enter a number: 20
2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

iii. 2,4,6,8,.....,n

In [ ]:
n=int(input("Enter the value: "))
for i in range(2,n,2):
  print(i,end=', ')

Enter the value: 30
2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
   if i%2!=0:
     print(i, end=', ')
   i=i+1

Enter a number: 20
1, 3, 5, 7, 9, 11, 13, 15, 17, 19,

iv. 1^2,2^2,3^2,4^2,......,n

In [ ]:
n=int(input("Enter the number: "))
for i in range(1,n):
  c=i*i
  print(c,end=', ')

Enter the number: 15
1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  c=i*i
  print(c, end=', ')
  i=i+1

Enter a number: 20
1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400,

v. 1^2,3^2,5^2,7^2,......,n

In [ ]:
n=int(input("Enter the number: "))
for i in range(1,n,2):
  c=i*i
  print(c,end=', ')

Enter the number: 15
1, 9, 25, 49, 81, 121, 169,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  if i%2==0:
    c=i*i
    print(c, end=', ')
  i=i+1

Enter a number: 20
4, 16, 36, 64, 100, 144, 196, 256, 324, 400,

vi. 2^2,4^2,6^2,8^2,......,n

In [ ]:
n=int(input("Enter the number: "))
for i in range(2,n,2):
  c=i*i
  print(c,end=', ')

Enter the number: 15
4, 16, 36, 64, 100, 144, 196,

In [ ]:
n = int(input("Enter a number: "))
i=1
while i<=n:
  if i%2!=0:
    c=i*i
    print(c, end=', ')
  i=i+1

Enter a number: 20
1, 9, 25, 49, 81, 121, 169, 225, 289, 361,

vii. 1^r,2^r,3^r,4^r,.......,n(Input r also)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(1,n):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 20
Enter a value: 5
1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000, 161051, 248832, 371293, 537824, 759375, 1048576, 1419857, 1889568, 2476099,

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  def power(i,e):
    res=0
    for j in range(e):
        res *= i
    return res   
  print(pow(i,e),end=', ')
  i=i+1

Enter a number: 10
Enter a value: 5
1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000,

viii. 1^r,3^r,5^r,7^r,......,n(Input r also)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(1,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 10
Enter a value: 5
1, 243, 3125, 16807, 59049,

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  if i%2==0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     print(pow(i,e),end=', ')
  i=i+1

Enter a number: 15
Enter a value: 5
32, 1024, 7776, 32768, 100000, 248832, 537824,

ix. 2^r,4^r,6^r,8^r,.......,n(Input r also)

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
for j in range(2,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  print(pow(j,e),end=', ')

Enter a number: 10
Enter a value: 5
32, 1024, 7776, 32768,

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
while i<=n:
  if i%2!=0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     print(pow(i,e),end=', ')
  i=i+1

Enter a number: 15
Enter a value: 4
1, 81, 625, 2401, 6561, 14641, 28561, 50625,

x. n!(Where ! stands for factorial symbols)

In [ ]:
n=int(input("Enter a number: "))
f=1
for i in range(1,n + 1):
       f = f*i
print(f)

Enter a number: 5
120

In [ ]:
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
  f=f*i
  i=i+1
print(f)

Enter a number: 4
24

xi. 1!,2!,3!,4!,.....,n

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 10
1, 2, 6, 24, 120, 720, 5040, 40320, 362880,

In [ ]:
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
  f=f*i
  print(f,end=', ')
  i=i+1

Enter a number: 5
1, 2, 6, 24, 120,

xii. 1!,3!,5!,7!,.....,n

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 10
1, 6, 120, 5040, 362880,

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
   if i%2==0:
     f=f*i
     print(f,end=', ')
   i=i+1

Enter a number: 15
2, 8, 48, 384, 3840, 46080, 645120,

xiii. 2!,4!,6!,8!,......,n

In [ ]:
n=int(input("Enter a number: "))
for i in range(2,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

Enter a number: 20
2, 24, 720, 40320, 3628800, 479001600, 87178291200, 20922789888000, 6402373705728000,

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
while i<=n:
   if i%2!=0:
     f=f*i
     print(f,end=', ')
   i=i+1

Enter a number: 10
1, 3, 15, 105, 945,

1. Using Keyboard Input for ‘n’.
2. Using looping structures (for, while looping structure (DO THE SEPARATE LOOPING STRUCTURE))

To fine sum the following:
xiv. s=1+2+3+4,.....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  s=s+i
  print('s=',s)

Enter a number: 5
s= 1
s= 3
s= 6
s= 10

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
  s=s+i
  print('s=',s)
  i=i+1

Enter a number: 10
s= 1
s= 3
s= 6
s= 10
s= 15
s= 21
s= 28
s= 36
s= 45
s= 55

xv. s=1+3+5+7,....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  s=s+i
  print('s=',s)

Enter a number: 10
s= 1
s= 4
s= 9
s= 16
s= 25

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2==0:
     s=s+i
     print('s=',s)
   i=i+1

Enter a number: 10
s= 2
s= 6
s= 12
s= 20
s= 30

xvi. s=2+4+6+8,.....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  s=s+i
  print('s=',s)

Enter a number: 10
s= 2
s= 6
s= 12
s= 20

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2!=0:
     s=s+i
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 4
s= 9
s= 16
s= 25

xvii. 1^2+2^2+3^2+4^2,.....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  c=i*i
  s=s+c
  print('s=',s)

Enter a number: 5
s= 1
s= 5
s= 14
s= 30

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
  c=i*i
  s=s+c
  print('s=',s)
  i=i+1

Enter a number: 5
s= 1
s= 5
s= 14
s= 30
s= 55

xviii. 1^2+3^2+5^2+7^2,....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  c=i*i
  s=s+c
  print('s=',s)

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2!=0:
     c=i*i
     s=s+c
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 10
s= 35
s= 84
s= 165

xix. 2^2+4^2+6^2+8^2,.......,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  c=i*i
  s=s+c
  print('s=',s)

Enter a number: 10
s= 4
s= 20
s= 56
s= 120

In [ ]:
n = int(input("Enter a number: "))
i=1
s=0
while i<=n:
   if i%2==0:
     c=i*i
     s=s+c
     print('s=',s)
   i=i+1

Enter a number: 10
s= 4
s= 20
s= 56
s= 120
s= 220

xx. 1^r+2^r+3^r+4^r,....,n

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(1,n):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 5
Enter a value: 3
s= 1
s= 9
s= 36
s= 100

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  def power(i,e):
    res=0
    for j in range(e):
        res *= i
    return res   
  s=s+pow(i,e)
  print('s=',s)
  i=i+1

Enter a number: 5
Enter a value: 3
s= 1
s= 9
s= 36
s= 100
s= 225

xxi. 1^r+3^r+5^r+7^r,.....,n

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(1,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 10
Enter a value: 4
s= 1
s= 82
s= 707
s= 3108
s= 9669

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  if i%2!=0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     s=s+pow(i,e)
     print('s=',s)
  i=i+1

Enter a number: 10
Enter a value: 3
s= 1
s= 28
s= 153
s= 496
s= 1225

xxii. 2^r+4^r+6^r+8^r,.....,n

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
s=0
for j in range(2,n,2):
  def power(j,e):
    res=0
    for i in range(e):
        res *= j
    return res   
  s=s+pow(j,e)
  print('s=',s)

Enter a number: 10
Enter a value: 4
s= 16
s= 272
s= 1568
s= 5664

In [ ]:
n=int(input("Enter a number: "))
e=int(input("Enter a value: "))
i=1
s=0
while i<=n:
  if i%2==0:
     def power(i,e):
        res=0
        for j in range(e):
          res *= i
        return res 
     s=s+pow(i,e)
     print('s=',s)
  i=i+1

Enter a number: 10
Enter a value: 4
s= 16
s= 272
s= 1568
s= 5664
s= 15664

xxiii. s=1!+2!+3!+4!,......,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 5
s= 1
s= 3
s= 9
s= 33

In [ ]:
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
  f=f*i
  s=s+f
  print('s=',s)
  i=i+1

Enter a number: 5
s= 1
s= 3
s= 9
s= 33
s= 153

xxiv. s=1!+3!+5!+7!,......,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(1,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 10
s= 1
s= 7
s= 127
s= 5167
s= 368047

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
   if i%2!=0:
     f=f*i
     s=s+f
     print('s=',s)
   i=i+1

Enter a number: 10
s= 1
s= 4
s= 19
s= 124
s= 1069

xxv. s=2!+4!+6!+8!,.....,n

In [ ]:
n=int(input("Enter a number: "))
s=0
for i in range(2,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
  print('s=',s)

Enter a number: 10
s= 2
s= 26
s= 746
s= 41066

In [ ]:
from re import I
n=int(input("Enter a number: "))
f=1
i=1
s=0
while i<=n:
   if i%2==0:
     f=f*i
     s=s+f
     print('s=',s)
   i=i+1

Enter a number: 10
s= 2
s= 10
s= 58
s= 442
s= 4282