<a href="https://colab.research.google.com/github/Shovanjeet/Shovan_67-AIML/blob/main/Shovanjeet_AIML_24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Input radius finds AREA OF CIRCLE and PERIMETER OF THE CIRCLE.

In [ ]:
PI=3.14
R=float(input("Enter radius of the circle:"))
area=(PI*R*R)
perimeter=(2*PI*R)
print("The area of the circle is",area)
print("The perimeter of circle is",perimeter)

Enter radius of the circle:1.2
The area of the circle is 4.521599999999999
The perimeter of circle is 7.536

2.Input Kilometer converts to centimeter, meter, and millimeter.

In [ ]:
km=int(input("Enter the distance between two cities in kilometers:"))
mtr=(km*1000)
cent=(km*100000)
print("Distance between two cities in meters:",mtr)
print("Distance between two cities in centimeters is:",cent)

Enter the distance between two cities in kilometers:450
Distance between two cities in meters: 450000
Distance between two cities in centimeters is: 45000000

3.Input two numbers find sum without ‘+’operator.

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE"))
def sum(a,b):
  for i in range(1,b + 1):
    a= a+1
  return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=48
ENTER b VALUE49
SUM OF NUMBERS= 97

4.Input two numbers find remainder without ‘%’.

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def rem(a,b):
  return(a-b*(a//b))
print("THE REMINDER IS=",rem(a,b))

ENTER a VALUE=100
ENTER b VALUE=7
THE REMINDER IS= 2

5.Input temperature finds Celsius and Fahrenheit and vice-versa.

In [ ]:
Celsius=float(input("Enter the value : "))
Fahrenheit= (Celsius * 1.8) + 32
print("The Value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value : "))
Celsius_c=int((Fahrenheit_f - 32) / 1.8)
print("The Value in Celsius",Celsius_c)

Enter the value : 23
The Value in Fahrenheit 73.4
Enter the value : 73.4
The Value in Celsius 23

6.Input a number finds reverse number without looping structure.

In [ ]:
n=int(input('Enter the number: '))
rev=int(str(n)[::-1])
print('The reverse number is =',rev)

Enter the number: 123
The reverse number is = 321